server:
  port: ${PORT:8085}

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          # Filtros globais (opcional)
          default-filters: # A lista de filtros deve ser recuada após a chave
            - AddResponseHeader=X-Gateway, RegistoHorasGateway
          routes:
            # ROTA 1: AUTH SERVICE (PÚBLICA)
            - id: auth-service
              uri: "${URI_AUTH_SERVICE:http://localhost:8081}" # <-- Aspas adicionadas
              predicates:
                - Path=/api/auth/**

            # ROTA 2: MAIL SERVICE (PROTEGIDA)
            - id: mail-service
              uri: "${URI_MAIL_SERVICE:http://localhost:8082}" # <-- Aspas adicionadas
              predicates:
                - Path=/api/email/**
              filters:
                - JwtAuthFilter

            # ROTA 3: REGISTO HORAS SERVICE (PROTEGIDA)
            - id: registo-horas-service
              #  CORREÇÃO CHAVE AQUI: Envolver o placeholder com aspas.
              uri: "${URI_REGISTO_HORAS:http://localhost:8083}"
              predicates:
                - Path=/actuator/**, /api/**, /api-docs/**
              filters:
                - JwtAuthFilter
jwt:
  secret: ${JWT_SECRET:chave-principal-aneto-registo-horas-seguranca-2025-api-gateway}
  expiration: ${JWT_EXPIRATION:86400000}  # 24h em ms