server:
  port: ${PORT:8085}
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env,beans
  endpoint:
    health:
      show-details: always
app:
  security:
    cors:
      allowed-origins: "http://localhost:5173,https://treg-app.vercel.app,https://www.sanoneto.com,http://treg-aneto.com:8085,http://treg-aneto.com"
      allowed-methods: "GET,POST,PUT,DELETE,OPTIONS,PATCH"
      allowed-headers: "Authorization,Content-Type,X-User-Roles,X-User-Id,X-Google-Token"
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - AddResponseHeader=X-Gateway, RegistoHorasGateway
          routes:
            # 1. ROTA PÚBLICA (Deve ser a primeira para o Registo Horas)
            - id: registo-horas-public
              uri: "${URI_REGISTO_HORAS:http://localhost:8083}"
              predicates:
                # Removido o {id} e usado o padrão direto para evitar erro de parsing no log
                - Path=/api/v1/eventos/{id}/confirmar-alerta
              # Sem JwtAuthFilter

            # 2. AUTH SERVICE (PÚBLICO)
            - id: auth-service-public
              uri: "${URI_AUTH_SERVICE:http://localhost:8081}"
              predicates:
                - Path=/api/auth/login, /api/auth/register, /api/auth/verify, /api/auth/google, /api/auth/facebook, /api/auth/recuperar-password, /api/auth/reset-password

            # 3. AUTH SERVICE (PROTEGIDO)
            - id: auth-service-protected
              uri: "${URI_AUTH_SERVICE:http://localhost:8081}"
              predicates:
                - Path=/api/auth/mfa/**, /api/auth/users/**, /api/v1/projects/**
              filters:
                - JwtAuthFilter

            # 4. MAIL SERVICE
            - id: mail-service
              uri: "${URI_MAIL_SERVICE:http://localhost:8082}"
              predicates:
                - Path=/api/email/**
              filters:
                - JwtAuthFilter

            # 5. REGISTO HORAS SERVICE (PROTEGIDO - RESTANTE DA API)
            - id: registo-horas-service
              uri: "${URI_REGISTO_HORAS:http://localhost:8083}"
              predicates:
                # Importante: Listamos caminhos específicos primeiro
                - Path=/api/registos/**, /api/ausencias/**, /api/v1/training/**, /api/v1/concertos/**, /api/v1/perfil/**, /api/v1/eventos/**, /api/v1/planos/**, /api/admin/expenses
              filters:
                - JwtAuthFilter
jwt:
  secret: ${JWT_SECRET:chave-principal-aneto-registo-horas-seguranca-2025-api-gateway}
